*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "sora extra";
    src: url("../fonts/Sora/static/Sora-ExtraBold.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
html,body{
    overflow-x: hidden;
    
}
main{
    font-family: "poppins";
}


.banner{
    background-image: url(../img/textura_banner01.webp);
    background-size: 100% 100%;
    padding: 5vw 0vw 10vw 0vw;
}
.banner .titulo img{
    width: 47vw;
    margin: 5vw 26.5vw;
}
.banner .fruta img{
    width: 80vw;
    margin: 5vw 10vw 5vw 10vw;
}
.banner .conteudo{
    text-align: center;
}
.banner .conteudo h1{
    width: 40vw;
    display: inline-block;
    color: green;
}
.banner .conteudo h1#numero{
    font-size: 30vw;
    font-family: "sora extra";
}
.banner .conteudo h1#titulo{
    text-transform: uppercase;
    font-size: 5.5vw;
    font-family: "sora extra";
    margin-left: -4vw;
    line-height: 6vw;
    text-align: left;
    position:relative;
    top: -4vw;
}
.banner .conteudo .lista{
    text-align: center;
    margin: 5vw 8vw;
}
.banner .conteudo .lista ul{
    display: inline-block;
    height: 40vw;
    width: 90vw;
    text-align: left;
}   
.banner .conteudo .lista ul li{
    color: green;
    border:3px solid green;
    width: 80vw;
    min-height: 7vw;
    padding:1vw 0vw 3vw 3vw;
    font-size: 4.4vw;
    margin-top: 2vw;
    list-style:none;
    border-radius: 3vw;
    background-color: rgba(255,252,151,0.55);
    box-shadow: 0px 1vw 2vw 0px rgba(31,38,135, 0.5);
}   
.banner .conteudo .lista ul li img{
    width: 7vw;
    position: relative;
    top: 1.5vw;
    left: -1vw;
}
.banner .conteudo .lista ul li p{
    margin: 0;
    display: none;
    width: 100%;
    margin: 7vw 0 5vw 0;
    color: rgb(1, 86, 18);
    transition: 2s;
}
.segundoConteudo{
    text-align: center;
    background-image: url(../img/textura_banner02.webp);
    background-size: 100%;
    padding: 10vw 0;
}
.segundoConteudo h1{
    display: inline-block;
}
.segundoConteudo h1#numero{
    font-size: 30vw;
    font-family: "sora extra";
    color: #edde1f;
}
.segundoConteudo h1#titulo{
    text-transform: uppercase;
    font-size: 5vw;
    font-family: "sora extra";
    margin-left:-1vw;
    line-height: 6vw;
    text-align: left;
    width: 42vw;
    position:relative;
    top: -3vw;
    color: white
}
.segundoConteudo .receitas{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    font-size: 2.6vw;
}

.segundoConteudo .receitas .box {
    width: 40vw;
    margin-top: 3vw;
    color: white;
    font-size: 1.8vw;
}
.segundoConteudo .receitas .box h1{
    margin: 1vw 0;
}

.segundoConteudo .receitas #primeiraBox{
    background-image: url(../img/doceBanana.webp);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #segundaBox{
    background-image: url(../img/bolinhoDeBanana.webp);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #terceiraBox{
    background-image: url(../img/coockie.webp);
    background-size: 130%;
    background-position: -5vw 0vw;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #quartaBox{
    background-image: url(../img/vitamina.webp);
    background-size: 100%;
    background-repeat: no-repeat ;  
}


.segundoConteudo .receitas .box .receitaImage{
    padding:10vw 0;
    width: 100%;
    background-color: rgb(220,220,220);
}
.segundoConteudo .receitas .box button{
    margin-top: -5vw;
    background-color:#edde1f;
    border: none;
    border-radius:1vw;
    width: 25vw;
    height:7vw;
    font-size: 2vw;
    font-weight: 900;
    color: green;
}
.segundoConteudo .receitas .box button a{
    text-decoration: none;
    color: green;
    font-family: "sora extra";
    text-transform: uppercase;

}


footer{
    height: 20vw;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}
footer .logo img{
    
    height: 10vw;
    display: block;
    margin: 0 auto;
}
footer .links{
    display: block;
    font-size: 1.27vw;
    width: 60vw;
    height: 8vw;
    color: white;
    margin: 0vw;
    margin-bottom: -2vw;
    text-align: center;
}
footer .links ul{
    display: none;
}
footer .links ul:last-child{
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .links ul a{
    color: #ffb400;
    text-decoration: none;
    cursor: pointer;
}
footer .links ul li img{
    width: 4vw;
    margin: 1vw;
}